## 뉴욕시의 Taxi 데이터 활용한 예측 모델
    - dataset : 케글의 NYC_Taxi
    - 거리에 따른 요금 예측 ==> 회귀
    - 승차에 따른 하차지역 예측 ==> 분류

##### [1] 데이터 로딩

In [20]:
import pandas as pd

# 전체데이터
file=pd.read_csv('C:/Users/user/Desktop/머신러닝/NYC_Taxi/train.csv')

In [29]:
# nrows = 원하는 행 수 --> 원하는 만큼만 데이터 로딩
# parse_dates = 컬럼명 --> 데이터를 가져오면서 datatime으로 형변환
df=pd.read_csv('C:/Users/user/Desktop/머신러닝/NYC_Taxi/train.csv', nrows=5000)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                5000 non-null   object
 1   fare_amount        5000 non-null   float64
 2   pickup_datetime    5000 non-null   object
 3   pickup_longitude   5000 non-null   float64
 4   pickup_latitude    5000 non-null   float64
 5   dropoff_longitude  5000 non-null   float64
 6   dropoff_latitude   5000 non-null   float64
 7   passenger_count    5000 non-null   int64
dtypes: float64(5), int64(1), object(2)
memory usage: 312.6+ KB
None

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1