In [30]:
from urllib.request import urlopen, urlretrieve
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# [1] 데이터 로딩

In [31]:
data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
# columns = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names'
# FILE1 = '../data/mpg_data.csv'
# FILE2 = '../data/mpg_col.csv'
# get_data = urlretrieve(data, FILE1)
# get_col = urlretrieve(columns, FILE2)

df = pd.read_csv(data, header=None, sep='\s+')
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin',
              'car name']
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

# [2] 데이터 전처리

In [32]:
# 데이터타입 확인
df.info()

# 고유값 확인
for i in df.columns:
    print(i)
    print(df[i].unique())

# 결측치 확인
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
mpg
[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]
cylinders
[8 4 6 3 5]
displacement
[307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ]
horsepower
['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']
weight
[3504. 3693. 3436. 3433. 3449. 4341. 4354. 4312. 4425. 3850. 3563. 3609.
 3761. 3086. 2372. 2833. 2774. 2587. 2130. 1835. 2672. 2430. 2375. 2234.
 2648. 4615. 4376. 4382. 4732. 2264. 2228. 2046. 2634. 3439. 3329. 3302.
 3288. 4209. 4464. 4154. 4096. 4955. 4746. 5140. 2962. 2408. 3282. 3139.
 2220. 2123. 2074. 2065. 1773. 1613. 1834. 1955. 2278. 2126. 2254. 2226.
 4274. 4385. 4135. 4129. 3672. 4633. 4502. 4456. 4422. 2330. 3892. 4098.
 4294. 4077. 2933. 2511. 2979. 2189. 2395. 2288. 2506. 2164. 2100. 4100.
 3988. 4042. 3777. 4952. 4363. 4237. 4735. 4951. 3821. 3121. 3278. 2945.
 3021. 2904. 1950. 4997. 4906. 4654. 4499. 2789. 2279. 2401. 2379. 2124.
 2310. 2472. 2265. 4082. 4278. 1867. 2158. 2582. 2868. 3399. 2660. 2807.
 3664. 3102. 2875. 2901. 3336. 2451. 1836. 2542. 3781. 3632. 3613. 4141.
 4699. 4457. 4638. 4257. 2219. 1963. 2300. 1649. 2003. 2125. 2108. 2246.
 2489. 2391. 2000. 3264. 3459. 3432. 3158. 4668. 4440. 4498. 4657. 3907.
 3897. 3730. 3785. 3039. 3221. 3169. 2171. 2639. 2914. 2592. 2702. 2223.
 2545. 2984. 1937. 3211. 2694. 2957. 2671. 1795. 2464. 2572. 2255. 2202.
 4215. 4190. 3962. 3233. 3353. 3012. 3085. 2035. 3651. 3574. 3645. 3193.
 1825. 1990. 2155. 2565. 3150. 3940. 3270. 2930. 3820. 4380. 4055. 3870.
 3755. 2045. 1945. 3880. 4060. 4140. 4295. 3520. 3425. 3630. 3525. 4220.
 4165. 4325. 4335. 1940. 2740. 2755. 2051. 2075. 1985. 2190. 2815. 2600.
 2720. 1800. 2070. 3365. 3735. 3570. 3535. 3155. 2965. 3430. 3210. 3380.
 3070. 3620. 3410. 3445. 3205. 4080. 2560. 2230. 2515. 2745. 2855. 2405.
 2830. 3140. 2795. 2135. 3245. 2990. 2890. 3265. 3360. 3840. 3725. 3955.
 3830. 4360. 4054. 3605. 1925. 1975. 1915. 2670. 3530. 3900. 3190. 3420.
 2200. 2150. 2020. 2595. 2700. 2556. 2144. 1968. 2120. 2019. 2678. 2870.
 3003. 3381. 2188. 2711. 2434. 2110. 2800. 2085. 2335. 2950. 3250. 1850.
 2145. 1845. 2910. 2420. 2500. 2905. 2290. 2490. 2635. 2620. 2725. 2385.
 1755. 1875. 1760. 2050. 2215. 2380. 2320. 2210. 2350. 2615. 3230. 3160.
 2900. 3415. 3060. 3465. 2605. 2640. 2575. 2525. 2735. 2865. 3035. 1980.
 2025. 1970. 2160. 2205. 2245. 1965. 1995. 3015. 2585. 2835. 2665. 2370.
 2790. 2295. 2625.]
acceleration
[12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6]
model year
[70 71 72 73 74 75 76 77 78 79 80 81 82]
origin
[1 3 2]
car name
['chevrolet chevelle malibu' 'buick skylark 320' 'plymouth satellite'
 'amc rebel sst' 'ford torino' 'ford galaxie 500' 'chevrolet impala'
 'plymouth fury iii' 'pontiac catalina' 'amc ambassador dpl'
 'dodge challenger se' "plymouth 'cuda 340" 'chevrolet monte carlo'
 'buick estate wagon (sw)' 'toyota corona mark ii' 'plymouth duster'
 'amc hornet' 'ford maverick' 'datsun pl510'
 'volkswagen 1131 deluxe sedan' 'peugeot 504' 'audi 100 ls' 'saab 99e'
 'bmw 2002' 'amc gremlin' 'ford f250' 'chevy c20' 'dodge d200' 'hi 1200d'
 'chevrolet vega 2300' 'toyota corona' 'ford pinto'
 'plymouth satellite custom' 'ford torino 500' 'amc matador'
 'pontiac catalina brougham' 'dodge monaco (sw)'
 'ford country squire (sw)' 'pontiac safari (sw)'
 'amc hornet sportabout (sw)' 'chevrolet vega (sw)' 'pontiac firebird'
 'ford mustang' 'mercury capri 2000' 'opel 1900' 'peugeot 304' 'fiat 124b'
 'toyota corolla 1200' 'datsun 1200' 'volkswagen model 111'
 'plymouth cricket' 'toyota corona hardtop' 'dodge colt hardtop'
 'volkswagen type 3' 'chevrolet vega' 'ford pinto runabout'
 'amc ambassador sst' 'mercury marquis' 'buick lesabre custom'
 'oldsmobile delta 88 royale' 'chrysler newport royal' 'mazda rx2 coupe'
 'amc matador (sw)' 'chevrolet chevelle concours (sw)'
 'ford gran torino (sw)' 'plymouth satellite custom (sw)'
 'volvo 145e (sw)' 'volkswagen 411 (sw)' 'peugeot 504 (sw)'
 'renault 12 (sw)' 'ford pinto (sw)' 'datsun 510 (sw)'
 'toyouta corona mark ii (sw)' 'dodge colt (sw)'
 'toyota corolla 1600 (sw)' 'buick century 350' 'chevrolet malibu'
 'ford gran torino' 'dodge coronet custom' 'mercury marquis brougham'
 'chevrolet caprice classic' 'ford ltd' 'plymouth fury gran sedan'
 'chrysler new yorker brougham' 'buick electra 225 custom'
 'amc ambassador brougham' 'plymouth valiant' 'chevrolet nova custom'
 'volkswagen super beetle' 'ford country' 'plymouth custom suburb'
 'oldsmobile vista cruiser' 'toyota carina' 'datsun 610' 'maxda rx3'
 'mercury capri v6' 'fiat 124 sport coupe' 'chevrolet monte carlo s'
 'pontiac grand prix' 'fiat 128' 'opel manta' 'audi 100ls' 'volvo 144ea'
 'dodge dart custom' 'saab 99le' 'toyota mark ii' 'oldsmobile omega'
 'chevrolet nova' 'datsun b210' 'chevrolet chevelle malibu classic'
 'plymouth satellite sebring' 'buick century luxus (sw)'
 'dodge coronet custom (sw)' 'audi fox' 'volkswagen dasher' 'datsun 710'
 'dodge colt' 'fiat 124 tc' 'honda civic' 'subaru' 'fiat x1.9'
 'plymouth valiant custom' 'mercury monarch' 'chevrolet bel air'
 'plymouth grand fury' 'buick century' 'chevroelt chevelle malibu'
 'plymouth fury' 'buick skyhawk' 'chevrolet monza 2+2' 'ford mustang ii'
 'toyota corolla' 'pontiac astro' 'volkswagen rabbit' 'amc pacer'
 'volvo 244dl' 'honda civic cvcc' 'fiat 131' 'capri ii' 'renault 12tl'
 'dodge coronet brougham' 'chevrolet chevette' 'chevrolet woody'
 'vw rabbit' 'dodge aspen se' 'ford granada ghia' 'pontiac ventura sj'
 'amc pacer d/l' 'datsun b-210' 'volvo 245' 'plymouth volare premier v8'
 'mercedes-benz 280s' 'cadillac seville' 'chevy c10' 'ford f108'
 'dodge d100' 'honda accord cvcc' 'buick opel isuzu deluxe'
 'renault 5 gtl' 'plymouth arrow gs' 'datsun f-10 hatchback'
 'oldsmobile cutlass supreme' 'dodge monaco brougham'
 'mercury cougar brougham' 'chevrolet concours' 'buick skylark'
 'plymouth volare custom' 'ford granada' 'pontiac grand prix lj'
 'chevrolet monte carlo landau' 'chrysler cordoba' 'ford thunderbird'
 'volkswagen rabbit custom' 'pontiac sunbird coupe'
 'toyota corolla liftback' 'ford mustang ii 2+2' 'dodge colt m/m'
 'subaru dl' 'datsun 810' 'bmw 320i' 'mazda rx-4'
 'volkswagen rabbit custom diesel' 'ford fiesta' 'mazda glc deluxe'
 'datsun b210 gx' 'oldsmobile cutlass salon brougham' 'dodge diplomat'
 'mercury monarch ghia' 'pontiac phoenix lj' 'ford fairmont (auto)'
 'ford fairmont (man)' 'plymouth volare' 'amc concord'
 'buick century special' 'mercury zephyr' 'dodge aspen' 'amc concord d/l'
 'buick regal sport coupe (turbo)' 'ford futura' 'dodge magnum xe'
 'datsun 510' 'dodge omni' 'toyota celica gt liftback' 'plymouth sapporo'
 'oldsmobile starfire sx' 'datsun 200-sx' 'audi 5000' 'volvo 264gl'
 'saab 99gle' 'peugeot 604sl' 'volkswagen scirocco' 'honda accord lx'
 'pontiac lemans v6' 'mercury zephyr 6' 'ford fairmont 4'
 'amc concord dl 6' 'dodge aspen 6' 'ford ltd landau'
 'mercury grand marquis' 'dodge st. regis' 'chevrolet malibu classic (sw)'
 'chrysler lebaron town @ country (sw)' 'vw rabbit custom'
 'maxda glc deluxe' 'dodge colt hatchback custom' 'amc spirit dl'
 'mercedes benz 300d' 'cadillac eldorado' 'plymouth horizon'
 'plymouth horizon tc3' 'datsun 210' 'fiat strada custom'
 'buick skylark limited' 'chevrolet citation' 'oldsmobile omega brougham'
 'pontiac phoenix' 'toyota corolla tercel' 'datsun 310' 'ford fairmont'
 'audi 4000' 'toyota corona liftback' 'mazda 626' 'datsun 510 hatchback'
 'mazda glc' 'vw rabbit c (diesel)' 'vw dasher (diesel)'
 'audi 5000s (diesel)' 'mercedes-benz 240d' 'honda civic 1500 gl'
 'renault lecar deluxe' 'vokswagen rabbit' 'datsun 280-zx' 'mazda rx-7 gs'
 'triumph tr7 coupe' 'ford mustang cobra' 'honda accord'
 'plymouth reliant' 'dodge aries wagon (sw)' 'toyota starlet'
 'plymouth champ' 'honda civic 1300' 'datsun 210 mpg' 'toyota tercel'
 'mazda glc 4' 'plymouth horizon 4' 'ford escort 4w' 'ford escort 2h'
 'volkswagen jetta' 'renault 18i' 'honda prelude' 'datsun 200sx'
 'peugeot 505s turbo diesel' 'volvo diesel' 'toyota cressida'
 'datsun 810 maxima' 'oldsmobile cutlass ls' 'ford granada gl'
 'chrysler lebaron salon' 'chevrolet cavalier' 'chevrolet cavalier wagon'
 'chevrolet cavalier 2-door' 'pontiac j2000 se hatchback' 'dodge aries se'
 'ford fairmont futura' 'amc concord dl' 'volkswagen rabbit l'
 'mazda glc custom l' 'mazda glc custom' 'plymouth horizon miser'
 'mercury lynx l' 'nissan stanza xe' 'honda civic (auto)' 'datsun 310 gx'
 'buick century limited' 'oldsmobile cutlass ciera (diesel)'
 'chrysler lebaron medallion' 'ford granada l' 'toyota celica gt'
 'dodge charger 2.2' 'chevrolet camaro' 'ford mustang gl' 'vw pickup'
 'dodge rampage' 'ford ranger' 'chevy s-10']
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [33]:
# horsepower 열에 '?' 평균값으로 처리하고, int형으로 바꿔주기
df['horsepower'].replace('?', np.nan, inplace=True)
df['horsepower'] = df['horsepower'].astype(float)
df['horsepower'].replace(np.nan, df['horsepower'].mean(), inplace=True)
df['horsepower'] = df['horsepower'].astype(int)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int32
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int32(1), int64(3), object(1)
memory usage: 26.6+ KB

In [35]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449.0,10.5,70,1,ford torino

In [36]:
# mpg => 스케일링
# cylinders => 원핫인코딩
# displacement => 스케일링
# horsepower => 스케일링
# weight => 스케일링
# acceleration => 스케일링
# model year => 원핫인코딩
# origin => 원핫인코딩

In [37]:
scaler = MinMaxScaler()
df[['displacement', 'horsepower', 'weight', 'acceleration']] = scaler.fit_transform(
    df[['displacement', 'horsepower', 'weight', 'acceleration']])

In [38]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,0.617571,0.456522,0.536150,0.238095,70,1,chevrolet chevelle malibu
1,15.0,8,0.728682,0.646739,0.589736,0.208333,70,1,buick skylark 320
2,18.0,8,0.645995,0.565217,0.516870,0.178571,70,1,plymouth satellite
3,16.0,8,0.609819,0.565217,0.516019,0.238095,70,1,amc rebel sst
4,17.0,8,0.604651,0.510870,0.520556,0.148810,70,1,ford torino

In [39]:
# mpg => km/h로 변환
df['mpg'] = df['mpg'] * 0.425144
df.rename(columns={'mpg': 'km/L'}, inplace=True)

In [40]:
# 원-핫 인코딩 진행
df = pd.get_dummies(data=df, columns=['cylinders'], prefix='cylinders')
df = pd.get_dummies(data=df, columns=['model year'], prefix='model year')
df = pd.get_dummies(data=df, columns=['origin'], prefix='origin')

In [41]:
df.head(5)

,km/L,displacement,horsepower,weight,acceleration,car name,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82,origin_1,origin_2,origin_3
0,7.652592,0.617571,0.456522,0.536150,0.238095,chevrolet chevelle malibu,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,6.377160,0.728682,0.646739,0.589736,0.208333,buick skylark 320,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,7.652592,0.645995,0.565217,0.516870,0.178571,plymouth satellite,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,6.802304,0.609819,0.565217,0.516019,0.238095,amc rebel sst,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,7.227448,0.604651,0.510870,0.520556,0.148810,ford torino,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [42]:
# 쓸모없는 열 삭제
df.drop('car name', inplace=True, axis=1)

# [3] 학습 / 테스트 데이터 분리

In [43]:
# input, target 데이터 분리
target = df['km/L']
input = df.iloc[:, 1:]

In [44]:
# 학습 / 테스트 데이터 분리
train_input, test_input, train_target, test_target = train_test_split(
    input, target, random_state=42, test_size=0.3)

# [4] 모델 생성 및 확인

In [45]:
# 모델 생성
model = LinearRegression()

In [46]:
model.fit(train_input, train_target)
print(f'train 스코어 = {model.score(train_input, train_target)}')
print(f'test 스코어 = {model.score(test_input, test_target)}')

train 스코어 = 0.8720288034390645
test 스코어 = 0.8624547665276223

In [47]:
model.predict(test_input)

array([13.49172979, 13.14041942,  9.23473646,  6.96826989,  5.29420127,
       11.62001872, 12.42355408,  3.35486097,  7.7040154 ,  8.50941824,
        5.90623609, 15.80138787, 11.65358434,  6.37539467, 10.1988342 ,
        4.25068385, 13.11497588,  9.20304933,  6.39549864, 15.80596049,
       10.70369152,  8.29773333, 11.68975618, 11.67814589,  7.49893087,
       15.5332512 , 10.57612898, 10.24223874,  7.99414424,  3.68363605,
       12.66957252, 15.41949171,  8.91087474, 11.13857422, 16.11583261,
        4.03352762,  8.45748444,  8.69547331,  5.34085554, 11.57001718,
       10.26897348, 12.92802831,  9.18963296,  3.87956705, 10.61226779,
       15.09228082, 11.63352833,  9.933002  , 10.6459001 , 11.57345732,
       10.69852598, 14.25100083, 15.45952809,  4.75531626, 10.89100945,
        5.41883309,  8.4000871 , 14.29198034, 10.69028059,  7.67092134,
        6.07957091, 13.05970762,  9.70324202,  9.53503638,  7.79712667,
       11.76324302, 10.21478504, 13.60009092, 11.51810144,  6.26108273,
       13.25791272,  6.0149321 ,  4.79605148,  8.41493992, 11.42360485,
        9.32542771,  7.75729601, 13.04388114, 12.17923613,  8.87013157,
        7.33841232, 11.505135  , 15.69386046, 13.91399909, 10.20148585,
        5.06193036, 13.65241769, 12.92734821, 10.88297777,  3.13669671,
        6.02605147, 11.94935105, 11.06827215, 13.47584233,  9.64612307,
       14.40262516, 13.27205096,  9.2069132 , 12.75569258,  6.01382373,
       12.67616227, 10.560554  ,  8.39620284,  6.84043414,  7.13195831,
        4.59477668, 12.60036244,  5.11600253, 13.99918773, 14.90172089,
       12.95700995, 11.26627794,  9.39350022, 15.80970753, 11.43180401,
        9.89154795, 11.47150085,  9.04004359, 13.58864944,  8.51996194])

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import all_estimators

scores_list=[]
models = all_estimators(type_filter='classifier')

for name, model in models:
    try:
        # 모델 객체를 생성
        md = model()
        # 학습
        md.fit(train_input, train_target)
        # 평가
        model_score = md.score(test_input, test_target)
        scores_list.append((name, np.round(model_score, 4)))
    except:
        pass

scores_list

[]

### 퍼셉트론Perceotron
- 뉴런을 컴퓨터 프로그램화 한 클래스
- 단순한 구조의 분류 모델
- AND, OR 문제 분류 성공
- XOR 문제 분류 실패

### [1] AND 분류
x1  x2  y  
0  0  0  
1  0  0  
0  1  0  
1  1  1

In [49]:
from sklearn.linear_model import Perceptron
import numpy as np

In [50]:
X1=[[0., 0.], [1., 0.], [0., 1.], [1., 1.]]
y1=[0, 0, 0, 1]

In [56]:
# 모델 객체 생성
andModel = Perceptron()

In [57]:
# 학습
andModel.fit(X1, y1)

Perceptron()

In [58]:
# 모델 객체 속성 출력함수
def showAttribute(model):
    print(f'classes_ : {model.classes_}')
    print(f'coef_ : {model.coef_}')
    print(f'intercept_ : {model.intercept_}')
    print(f'n_iter_ : {model.n_iter_}')

showAttribute(andModel)

classes_ : [0 1]
coef_ : [[2. 2.]]
intercept_ : [-2.]
n_iter_ : 10

In [59]:
# 예측
pre_and = andModel(X1)

TypeError: 'Perceptron' object is not callable

In [60]:
print(f'정답 : {y1}')
print(f'예측 : {pre_and}')

정답 : [0, 0, 0, 1]

NameError: name 'pre_and' is not defined

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
print(f'{accuracy_score(y1, pre_and)}')

TypeError: accuracy_score() missing 2 required positional arguments: 'y_true' and 'y_pred'

### [2] OR 연산 분류
x1  x2  y  
0  0  0  
1  0  1  
0  1  1  
1  1  1

### [3] XOR 연산 분류
x1  x2  y  
0  0  0  
1  0  1  
0  1  1  
1  1  0